@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Georama:wdth,wght@62.5..150,100..900&family=Unbounded:wght@200..900&display=swap');

@import 'tailwindcss';

@theme {
	--font-unbounded: 'Unbounded', sans-serif;
	--font-funnel: 'Funnel Display', sans-serif;
	--font-georama: 'Georama', sans-serif;

	--color-spotify-green: #1ed760;
	--color-spotify-black: #121212;
}

:root {
	--toastify-font-family: var(--font-funnel);
	--toastify-color-success: #006103;
	--toastify-color-error: #7d0000;
	--toastify-color-info: var(--color-neutral-500);
}
