@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Unbounded:wght@200..900&display=swap');

@import 'tailwindcss';

@theme {
	--font-unbounded: 'Unbounded', sans-serif;
	--font-funnel: 'Funnel Display', sans-serif;

	--color-spotify-green: #1ed760;
	--color-spotify-black: #121212;
}
